In [9]:
#Getting the required columns
players_condensed = players[['id', 'web_name', 'team', 'element_type', 'now_cost', 'selected_by_percent', 'event_points', 'total_points']]
players_condensed.head(5)

,id,web_name,team,element_type,now_cost,selected_by_percent,event_points,total_points
0,1,Cédric,1,2,42,0.1,1,1
1,3,Xhaka,1,3,51,4.0,3,58
2,4,Elneny,1,3,42,0.6,0,2
3,5,Holding,1,2,42,0.1,0,3
4,6,Partey,1,3,48,0.5,9,37

In [11]:
players_condensed['position'] = players_condensed.element_type.map(elements_keys.set_index('id').singular_name)
players_condensed.head(5)

,id,web_name,team,element_type,now_cost,selected_by_percent,event_points,total_points,position
0,1,Cédric,1,2,42,0.1,1,1,Defender
1,3,Xhaka,1,3,51,4.0,3,58,Midfielder
2,4,Elneny,1,3,42,0.6,0,2,Midfielder
3,5,Holding,1,2,42,0.1,0,3,Defender
4,6,Partey,1,3,48,0.5,9,37,Midfielder

In [17]:
players_condensed['team_name'] = players_condensed.team.map(teams_keys.set_index('id').name)
players_condensed.head(5)

,id,web_name,team,element_type,now_cost,selected_by_percent,event_points,total_points,position,team_name
0,1,Cédric,1,2,4.2,0.1,1,1,Defender,Arsenal
1,3,Xhaka,1,3,5.1,4.0,3,58,Midfielder,Arsenal
2,4,Elneny,1,3,4.2,0.6,0,2,Midfielder,Arsenal
3,5,Holding,1,2,4.2,0.1,0,3,Defender,Arsenal
4,6,Partey,1,3,4.8,0.5,9,37,Midfielder,Arsenal

In [14]:
players_condensed['now_cost'] = players_condensed['now_cost'] / 10
players_condensed

,id,web_name,team,element_type,now_cost,selected_by_percent,event_points,total_points,position,team_name
0,1,Cédric,1,2,4.2,0.1,1,1,Defender,Arsenal
1,3,Xhaka,1,3,5.1,4.0,3,58,Midfielder,Arsenal
2,4,Elneny,1,3,4.2,0.6,0,2,Midfielder,Arsenal
3,5,Holding,1,2,4.2,0.1,0,3,Defender,Arsenal
4,6,Partey,1,3,4.8,0.5,9,37,Midfielder,Arsenal
...,...,...,...,...,...,...,...,...,...,...
651,579,Guedes,20,3,5.9,0.2,1,19,Midfielder,Wolves
652,589,Matheus,20,3,4.9,0.2,1,28,Midfielder,Wolves
653,608,Kalajdžić,20,4,5.3,0.0,0,1,Forward,Wolves
654,625,Diego Costa,20,4,5.5,0.4,-1,7,Forward,Wolves
655,629,Traoré,20,3,4.5,0.1,2,6,Midfielder,Wolves

In [15]:
myteam_df = pd.merge(myteam, players_condensed, how="left", left_on= "element", right_on= 'id')
print(myteam_df)

    element  position_x  selling_price  multiplier  purchase_price  \
0       254           1             40           1              40
1       306           2             72           1              70
2       106           3             46           1              46
3       357           4             55           1              51
4       283           5            127           2             127
5        19           6             64           1              60
6       335           7             66           1              66
7       111           8             68           1              68
8       318           9            118           1             115
9        28          10             80           1              80
10      356          11             74           1              73
11      133          12             44           0              44
12      346          13             45           0              45
13      430          14             52           0              52
14      167          15             43           0              43

    is_captain  is_vice_captain   id      web_name  team  element_type  \
0        False            False  254          Ward    10             1
1        False            False  306       Cancelo    13             2
2        False            False  106          Dunk     5             2
3        False            False  357      Trippier    15             2
4         True            False  283         Salah    12             3
5        False            False   19    Martinelli     1             3
6        False            False  335      Rashford    14             3
7        False            False  111      Trossard     5             3
8        False             True  318       Haaland    13             4
9        False            False   28         Jesus     1             4
10       False            False  356        Wilson    15             4
11       False            False  133  Arrizabalaga     6             1
12       False            False  346       Andreas     9             3
13       False            False  430          Dier    18             2
14       False            False  167         Guéhi     7             2

    now_cost selected_by_percent  event_points  total_points  position_y  \
0        4.1                26.2             3            43  Goalkeeper
1        7.4                56.5             6            71    Defender
2        4.7                 5.5             2            37    Defender
3        5.9                62.1            11            77    Defender
4       12.8                31.0             7            65  Midfielder
5        6.8                49.2             8            68  Midfielder
6        6.6                17.1             8            58  Midfielder
7        6.9                21.7             7            73  Midfielder
8       12.2                80.7             0           117     Forward
9        8.0                58.9             9            65     Forward
10       7.5                 9.0            19            53     Forward
11       4.5                 3.5             0            29  Goalkeeper
12       4.6                25.3             3            53  Midfielder
13       5.3                10.8             1            48    Defender
14       4.4                 3.5             6            26    Defender

         team_name
0        Leicester
1         Man City
2         Brighton
3        Newcastle
4        Liverpool
5          Arsenal
6          Man Utd
7         Brighton
8         Man City
9          Arsenal
10       Newcastle
11         Chelsea
12          Fulham
13           Spurs
14  Crystal Palace

In [16]:
myteam_final = myteam_df[["id", "web_name", "position_y", "team_name", "is_captain", "now_cost", "selling_price", "selected_by_percent", "event_points", "total_points"]]
myteam_final.head()

,id,web_name,position_y,team_name,is_captain,now_cost,selling_price,selected_by_percent,event_points,total_points
0,254,Ward,Goalkeeper,Leicester,False,4.1,40,26.2,3,43
1,306,Cancelo,Defender,Man City,False,7.4,72,56.5,6,71
2,106,Dunk,Defender,Brighton,False,4.7,46,5.5,2,37
3,357,Trippier,Defender,Newcastle,False,5.9,55,62.1,11,77
4,283,Salah,Midfielder,Liverpool,True,12.8,127,31.0,7,65