In [43]:
import requests, json
import pandas as pd
import numpy as np
from pprint import pprint
import requests

pd.options.mode.chained_assignment = None

In [46]:
#Logging in and getting my team
#Do NOT run with VPN on :) 

s = requests.Session()

headers = {
   'authority': 'users.premierleague.com' ,
   'cache-control': 'max-age=0' ,
   'upgrade-insecure-requests': '1' ,
   'origin': 'https://fantasy.premierleague.com' ,
   'content-type': 'application/x-www-form-urlencoded' ,
   'user-agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.116 Safari/537.36' ,
   'accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9' ,
   'sec-fetch-site': 'same-site' ,
   'sec-fetch-mode': 'navigate' ,
   'sec-fetch-user': '?1' ,
   'sec-fetch-dest': 'document' ,
   'referer': 'https://fantasy.premierleague.com/my-team' ,
   'accept-language': 'en-US,en;q=0.9,he;q=0.8' ,
}
with open("/Users/trajche/Desktop/python/FPL_Data_Pull/credentials.json", 'r') as f:
  data = json.load(f)


url = "https://users.premierleague.com/accounts/login/"

res = s.post(url, data = data,  headers = headers)

team_url = "https://fantasy.premierleague.com/api/my-team/203128/"
res = s.get(team_url)
s = json.loads(res.content)

In [47]:
#Getting my current team
myteam = pd.json_normalize(s['picks'])
print(myteam.head(5))

   element  position  selling_price  multiplier  purchase_price  is_captain  \
0      113         1             45           1              45       False
1      285         2             75           1              75       False
2      306         3             70           1              70       False
3       16         4             50           1              50       False
4      146         5             60           1              60       False

   is_vice_captain
0            False
1            False
2            False
3            False
4            False

In [48]:
# base url for all FPL API endpoints
base_url = 'https://fantasy.premierleague.com/api/'

# get data from bootstrap-static endpoint
r = requests.get(base_url+'bootstrap-static/').json()

# show the top level fields
pprint(r, indent=2, depth=1, compact=True)

{ 'element_stats': [...],
  'element_types': [...],
  'elements': [...],
  'events': [...],
  'game_settings': {...},
  'phases': [...],
  'teams': [...],
  'total_players': 8905557}

Getting the Gameweek Deadlines

In [49]:
events = pd.DataFrame(r['events'])
print(events.head())

   id        name         deadline_time  average_entry_score  finished  \
0   1  Gameweek 1  2022-08-05T17:30:00Z                   57      True
1   2  Gameweek 2  2022-08-13T10:00:00Z                   35     False
2   3  Gameweek 3  2022-08-20T10:00:00Z                    0     False
3   4  Gameweek 4  2022-08-27T10:00:00Z                    0     False
4   5  Gameweek 5  2022-08-30T17:00:00Z                    0     False

   data_checked  highest_scoring_entry  deadline_time_epoch  \
0          True              7309963.0           1659720600
1         False              7813421.0           1660384800
2         False                    NaN           1660989600
3         False                    NaN           1661594400
4         False                    NaN           1661878800

   deadline_time_game_offset  highest_score  ...  cup_leagues_created  \
0                          0          119.0  ...                False
1                          0          108.0  ...                False
2                          0            NaN  ...                False
3                          0            NaN  ...                False
4                          0            NaN  ...                False

   h2h_ko_matches_created                                         chip_plays  \
0                   False  [{'chip_name': 'bboost', 'num_played': 170273}...
1                   False  [{'chip_name': 'bboost', 'num_played': 136909}...
2                   False                                                 []
3                   False                                                 []
4                   False                                                 []

   most_selected  most_transferred_in top_element           top_element_info  \
0           28.0                  1.0       366.0  {'id': 366, 'points': 15}
1           28.0                318.0        28.0   {'id': 28, 'points': 16}
2            NaN                  NaN         NaN                       None
3            NaN                  NaN         NaN                       None
4            NaN                  NaN         NaN                       None

   transfers_made  most_captained most_vice_captained
0               0           283.0               318.0
1        12847501           318.0               283.0
2               0             NaN                 NaN
3               0             NaN                 NaN
4               0             NaN                 NaN

[5 rows x 23 columns]

In [50]:
gameweeks = events[['id', 'name', 'deadline_time']]
gameweeks

    id         name         deadline_time
0    1   Gameweek 1  2022-08-05T17:30:00Z
1    2   Gameweek 2  2022-08-13T10:00:00Z
2    3   Gameweek 3  2022-08-20T10:00:00Z
3    4   Gameweek 4  2022-08-27T10:00:00Z
4    5   Gameweek 5  2022-08-30T17:00:00Z
5    6   Gameweek 6  2022-09-03T10:00:00Z
6    7   Gameweek 7  2022-09-10T10:00:00Z
7    8   Gameweek 8  2022-09-16T17:30:00Z
8    9   Gameweek 9  2022-10-01T10:00:00Z
9   10  Gameweek 10  2022-10-08T12:30:00Z
10  11  Gameweek 11  2022-10-14T17:30:00Z
11  12  Gameweek 12  2022-10-18T17:00:00Z
12  13  Gameweek 13  2022-10-22T10:00:00Z
13  14  Gameweek 14  2022-10-29T10:00:00Z
14  15  Gameweek 15  2022-11-05T13:30:00Z
15  16  Gameweek 16  2022-11-12T13:30:00Z
16  17  Gameweek 17  2022-12-26T13:30:00Z
17  18  Gameweek 18  2022-12-31T13:30:00Z
18  19  Gameweek 19  2023-01-02T13:30:00Z
19  20  Gameweek 20  2023-01-14T13:30:00Z
20  21  Gameweek 21  2023-01-21T13:30:00Z
21  22  Gameweek 22  2023-02-04T13:30:00Z
22  23  Gameweek 23  2023-02-11T13:30:00Z
23  24  Gameweek 24  2023-02-18T13:30:00Z
24  25  Gameweek 25  2023-02-25T13:30:00Z
25  26  Gameweek 26  2023-03-04T13:30:00Z
26  27  Gameweek 27  2023-03-11T13:30:00Z
27  28  Gameweek 28  2023-03-18T13:30:00Z
28  29  Gameweek 29  2023-04-01T12:30:00Z
29  30  Gameweek 30  2023-04-08T12:30:00Z
30  31  Gameweek 31  2023-04-15T12:30:00Z
31  32  Gameweek 32  2023-04-22T12:30:00Z
32  33  Gameweek 33  2023-04-25T17:15:00Z
33  34  Gameweek 34  2023-04-29T12:30:00Z
34  35  Gameweek 35  2023-05-06T12:30:00Z
35  36  Gameweek 36  2023-05-13T12:30:00Z
36  37  Gameweek 37  2023-05-20T12:30:00Z
37  38  Gameweek 38  2023-05-28T13:30:00Z

Getting all players data

In [51]:
players = pd.DataFrame(r['elements'])
print(players.columns)

Index(['chance_of_playing_next_round', 'chance_of_playing_this_round', 'code',
       'cost_change_event', 'cost_change_event_fall', 'cost_change_start',
       'cost_change_start_fall', 'dreamteam_count', 'element_type', 'ep_next',
       'ep_this', 'event_points', 'first_name', 'form', 'id', 'in_dreamteam',
       'news', 'news_added', 'now_cost', 'photo', 'points_per_game',
       'second_name', 'selected_by_percent', 'special', 'squad_number',
       'status', 'team', 'team_code', 'total_points', 'transfers_in',
       'transfers_in_event', 'transfers_out', 'transfers_out_event',
       'value_form', 'value_season', 'web_name', 'minutes', 'goals_scored',
       'assists', 'clean_sheets', 'goals_conceded', 'own_goals',
       'penalties_saved', 'penalties_missed', 'yellow_cards', 'red_cards',
       'saves', 'bonus', 'bps', 'influence', 'creativity', 'threat',
       'ict_index', 'influence_rank', 'influence_rank_type', 'creativity_rank',
       'creativity_rank_type', 'threat_rank', 'threat_rank_type',
       'ict_index_rank', 'ict_index_rank_type',
       'corners_and_indirect_freekicks_order',
       'corners_and_indirect_freekicks_text', 'direct_freekicks_order',
       'direct_freekicks_text', 'penalties_order', 'penalties_text'],
      dtype='object')

In [52]:
#Getting the required columns
players_condensed = players[['id', 'web_name', 'team', 'element_type', 'now_cost', 'selected_by_percent', 'event_points', 'total_points']]
players_condensed.head(5)

,id,web_name,team,element_type,now_cost,selected_by_percent,event_points,total_points
0,1,Cédric,1,2,44,0.3,0,0
1,3,Xhaka,1,3,50,0.8,10,12
2,4,Elneny,1,3,45,1.0,0,0
3,5,Holding,1,2,44,0.2,0,0
4,6,Partey,1,3,50,0.7,2,5

In [53]:
elements_keys = pd.DataFrame(r['element_types'])
teams_keys = pd.DataFrame(r['teams'])

Map the team, element_type, position and join with myteam

In [54]:
players_condensed['position'] = players_condensed.element_type.map(elements_keys.set_index('id').singular_name)
players_condensed.head(5)

,id,web_name,team,element_type,now_cost,selected_by_percent,event_points,total_points,position
0,1,Cédric,1,2,44,0.3,0,0,Defender
1,3,Xhaka,1,3,50,0.8,10,12,Midfielder
2,4,Elneny,1,3,45,1.0,0,0,Midfielder
3,5,Holding,1,2,44,0.2,0,0,Defender
4,6,Partey,1,3,50,0.7,2,5,Midfielder

In [55]:
players_condensed['team_name'] = players_condensed.team.map(teams_keys.set_index('id').name)
players_condensed

,id,web_name,team,element_type,now_cost,selected_by_percent,event_points,total_points,position,team_name
0,1,Cédric,1,2,44,0.3,0,0,Defender,Arsenal
1,3,Xhaka,1,3,50,0.8,10,12,Midfielder,Arsenal
2,4,Elneny,1,3,45,1.0,0,0,Midfielder,Arsenal
3,5,Holding,1,2,44,0.2,0,0,Defender,Arsenal
4,6,Partey,1,3,50,0.7,2,5,Midfielder,Arsenal
...,...,...,...,...,...,...,...,...,...,...
575,558,Bueno,20,2,40,0.7,0,0,Defender,Wolves
576,566,Hodge,20,3,45,0.0,0,0,Midfielder,Wolves
577,567,Ronan,20,3,45,0.1,0,0,Midfielder,Wolves
578,568,Campbell,20,3,45,0.2,0,1,Midfielder,Wolves
579,579,Guedes,20,3,60,0.1,1,1,Midfielder,Wolves

In [56]:
players_condensed['now_cost'] = players_condensed['now_cost'] / 10
players_condensed

,id,web_name,team,element_type,now_cost,selected_by_percent,event_points,total_points,position,team_name
0,1,Cédric,1,2,4.4,0.3,0,0,Defender,Arsenal
1,3,Xhaka,1,3,5.0,0.8,10,12,Midfielder,Arsenal
2,4,Elneny,1,3,4.5,1.0,0,0,Midfielder,Arsenal
3,5,Holding,1,2,4.4,0.2,0,0,Defender,Arsenal
4,6,Partey,1,3,5.0,0.7,2,5,Midfielder,Arsenal
...,...,...,...,...,...,...,...,...,...,...
575,558,Bueno,20,2,4.0,0.7,0,0,Defender,Wolves
576,566,Hodge,20,3,4.5,0.0,0,0,Midfielder,Wolves
577,567,Ronan,20,3,4.5,0.1,0,0,Midfielder,Wolves
578,568,Campbell,20,3,4.5,0.2,0,1,Midfielder,Wolves
579,579,Guedes,20,3,6.0,0.1,1,1,Midfielder,Wolves

Joining myteam with players_condensed to map out my team with the keys

In [57]:
myteam_df = pd.merge(myteam, players_condensed, how="left", left_on= "element", right_on= 'id')

In [58]:
myteam_df

,element,position_x,selling_price,multiplier,purchase_price,is_captain,is_vice_captain,id,web_name,team,element_type,now_cost,selected_by_percent,event_points,total_points,position_y,team_name
0,113,1,45,1,45,False,False,113,Sánchez,5,1,4.5,11.6,6,10,Goalkeeper,Brighton
1,285,2,75,1,75,False,False,285,Alexander-Arnold,12,2,7.5,55.6,0,1,Defender,Liverpool
2,306,3,70,1,70,False,False,306,Cancelo,13,2,7.0,45.1,9,16,Defender,Man City
3,16,4,50,1,50,False,False,16,Gabriel,1,2,5.0,8.5,1,8,Defender,Arsenal
4,146,5,60,1,60,False,False,146,James,6,2,6.0,39.3,0,7,Defender,Chelsea
5,312,6,60,1,60,False,False,312,Dias,13,2,6.0,12.2,6,12,Defender,Man City
6,283,7,130,1,130,False,True,283,Salah,12,3,13.0,62.6,0,12,Midfielder,Liverpool
7,293,8,80,1,80,False,False,293,Luis Díaz,12,3,8.0,19.6,0,2,Midfielder,Liverpool
8,19,9,60,1,60,False,False,19,Martinelli,1,3,6.1,27.7,7,15,Midfielder,Arsenal
9,28,10,80,1,80,False,False,28,Jesus,1,4,8.0,70.9,16,18,Forward,Arsenal
10,318,11,115,2,115,True,False,318,Haaland,13,4,11.6,58.7,5,18,Forward,Man City
11,254,12,40,0,40,False,False,254,Ward,10,1,4.0,26.5,1,2,Goalkeeper,Leicester
12,346,13,45,0,45,False,False,346,Andreas,9,3,4.5,25.4,3,5,Midfielder,Fulham
13,83,14,45,0,45,False,False,83,Dasilva,4,3,4.5,3.4,6,12,Midfielder,Brentford
14,54,15,45,0,45,False,False,54,Archer,2,4,4.5,7.5,0,1,Forward,Aston Villa

In [59]:
myteam_final = myteam_df[["id", "web_name", "position_y", "team_name", "is_captain", "now_cost", "selling_price", "selected_by_percent", "event_points", "total_points"]]
myteam_final.head()

,id,web_name,position_y,team_name,is_captain,now_cost,selling_price,selected_by_percent,event_points,total_points
0,113,Sánchez,Goalkeeper,Brighton,False,4.5,45,11.6,6,10
1,285,Alexander-Arnold,Defender,Liverpool,False,7.5,75,55.6,0,1
2,306,Cancelo,Defender,Man City,False,7.0,70,45.1,9,16
3,16,Gabriel,Defender,Arsenal,False,5.0,50,8.5,1,8
4,146,James,Defender,Chelsea,False,6.0,60,39.3,0,7

In [60]:
myteam_final['selling_price'] = myteam_final['selling_price'] / 10
myteam_final.head()

,id,web_name,position_y,team_name,is_captain,now_cost,selling_price,selected_by_percent,event_points,total_points
0,113,Sánchez,Goalkeeper,Brighton,False,4.5,4.5,11.6,6,10
1,285,Alexander-Arnold,Defender,Liverpool,False,7.5,7.5,55.6,0,1
2,306,Cancelo,Defender,Man City,False,7.0,7.0,45.1,9,16
3,16,Gabriel,Defender,Arsenal,False,5.0,5.0,8.5,1,8
4,146,James,Defender,Chelsea,False,6.0,6.0,39.3,0,7

Getting the top level GW by GW team information

In [63]:
# base url for all FPL API endpoints
base_url = 'https://fantasy.premierleague.com/api/'

# get data from bootstrap-static endpoint
r = requests.get(base_url+'entry/203128/history/').json()

# show the top level fields
pprint(r, indent=2, depth=1, compact=True)

{'chips': [], 'current': [...], 'past': [...]}

In [64]:
team_info = pd.DataFrame(r['current'])
team_info

,event,points,total_points,rank,rank_sort,overall_rank,bank,value,event_transfers,event_transfers_cost,points_on_bench
0,1,78,78,386786,390723,386786,0,1000,0,0,13
1,2,55,133,470253,471985,77866,0,1002,0,0,4

Cleaning the team_info data frame to export the proper values

In [65]:
team_info['value'] = team_info['value'] / 10
team_info

,event,points,total_points,rank,rank_sort,overall_rank,bank,value,event_transfers,event_transfers_cost,points_on_bench
0,1,78,78,386786,390723,386786,0,100.0,0,0,13
1,2,55,133,470253,471985,77866,0,100.2,0,0,4

Export all data to csv

In [66]:
filepath = os.getcwd()
filepath

'/Users/trajche/Desktop/python/FPL_Data_Pull'

In [67]:
gameweeks.to_csv(filepath + '/gameweeks.csv', index = False)

In [68]:
team_info.to_csv(filepath + '/myteam_history.csv', index = False)

In [69]:
myteam_final.to_csv(filepath + '/myteam.csv', index = False)

In [70]:
players_condensed.to_csv(filepath + '/all_players.csv', index = False)