In [1]:
import requests, json
import pandas as pd
import numpy as np
from pprint import pprint
import requests

pd.options.mode.chained_assignment = None

In [3]:
#Logging in and getting my team
#Do NOT run with VPN on :) 

s = requests.Session()

headers = {
   'authority': 'users.premierleague.com' ,
   'cache-control': 'max-age=0' ,
   'upgrade-insecure-requests': '1' ,
   'origin': 'https://fantasy.premierleague.com' ,
   'content-type': 'application/x-www-form-urlencoded' ,
   'user-agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.116 Safari/537.36' ,
   'accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9' ,
   'sec-fetch-site': 'same-site' ,
   'sec-fetch-mode': 'navigate' ,
   'sec-fetch-user': '?1' ,
   'sec-fetch-dest': 'document' ,
   'referer': 'https://fantasy.premierleague.com/my-team' ,
   'accept-language': 'en-US,en;q=0.9,he;q=0.8' ,
}
with open("/Users/trajche/Desktop/python/FPL_Data_Pull/credentials.json", 'r') as f:
  data = json.load(f)


url = "https://users.premierleague.com/accounts/login/"

res = s.post(url, data = data,  headers = headers)

team_url = "https://fantasy.premierleague.com/api/my-team/203128/"
res = s.get(team_url)
s = json.loads(res.content)

In [4]:
#Getting my current team
myteam = pd.json_normalize(s['picks'])
print(myteam.head(5))

   element  position  selling_price  multiplier  purchase_price  is_captain  \
0      254         1             40           1              40       False
1      306         2             72           1              70       False
2      106         3             46           1              46       False
3      357         4             54           1              51       False
4      283         5            127           2             127        True

   is_vice_captain
0            False
1            False
2            False
3            False
4            False

In [5]:
# base url for all FPL API endpoints
base_url = 'https://fantasy.premierleague.com/api/'

# get data from bootstrap-static endpoint
r = requests.get(base_url+'bootstrap-static/').json()

# show the top level fields
pprint(r, indent=2, depth=1, compact=True)

{ 'element_stats': [...],
  'element_types': [...],
  'elements': [...],
  'events': [...],
  'game_settings': {...},
  'phases': [...],
  'teams': [...],
  'total_players': 10806955}

Getting the Gameweek Deadlines

In [6]:
events = pd.DataFrame(r['events'])
print(events.head())

   id        name         deadline_time  average_entry_score  finished  \
0   1  Gameweek 1  2022-08-05T17:30:00Z                   57      True
1   2  Gameweek 2  2022-08-13T10:00:00Z                   57      True
2   3  Gameweek 3  2022-08-20T10:00:00Z                   48      True
3   4  Gameweek 4  2022-08-27T10:00:00Z                   62      True
4   5  Gameweek 5  2022-08-30T17:00:00Z                   62      True

   data_checked  highest_scoring_entry  deadline_time_epoch  \
0          True              7309963.0           1659720600
1          True              3977474.0           1660384800
2          True              9105261.0           1660989600
3          True              9406675.0           1661594400
4          True              2109803.0           1661878800

   deadline_time_game_offset  highest_score  ...  cup_leagues_created  \
0                          0          119.0  ...                False
1                          0          139.0  ...                False
2                          0          118.0  ...                False
3                          0          149.0  ...                False
4                          0          124.0  ...                False

   h2h_ko_matches_created                                         chip_plays  \
0                   False  [{'chip_name': 'bboost', 'num_played': 170273}...
1                   False  [{'chip_name': 'bboost', 'num_played': 136909}...
2                   False  [{'chip_name': 'bboost', 'num_played': 118152}...
3                   False  [{'chip_name': 'bboost', 'num_played': 145393}...
4                   False  [{'chip_name': 'bboost', 'num_played': 92307},...

   most_selected  most_transferred_in top_element           top_element_info  \
0           28.0                105.0       366.0  {'id': 366, 'points': 15}
1           28.0                318.0        28.0   {'id': 28, 'points': 19}
2           28.0                 19.0         7.0    {'id': 7, 'points': 16}
3           28.0                225.0       279.0  {'id': 279, 'points': 22}
4           28.0                104.0       318.0  {'id': 318, 'points': 17}

   transfers_made  most_captained most_vice_captained
0               0           283.0               318.0
1        12847501           318.0               283.0
2        20175060            28.0               318.0
3        16105042           283.0                28.0
4        14741619           318.0                28.0

[5 rows x 23 columns]

In [7]:
gameweeks = events[['id', 'name', 'deadline_time']]
gameweeks

    id         name         deadline_time
0    1   Gameweek 1  2022-08-05T17:30:00Z
1    2   Gameweek 2  2022-08-13T10:00:00Z
2    3   Gameweek 3  2022-08-20T10:00:00Z
3    4   Gameweek 4  2022-08-27T10:00:00Z
4    5   Gameweek 5  2022-08-30T17:00:00Z
5    6   Gameweek 6  2022-09-03T10:00:00Z
6    7   Gameweek 7  2022-09-10T10:00:00Z
7    8   Gameweek 8  2022-09-16T17:30:00Z
8    9   Gameweek 9  2022-10-01T10:00:00Z
9   10  Gameweek 10  2022-10-08T12:30:00Z
10  11  Gameweek 11  2022-10-14T17:30:00Z
11  12  Gameweek 12  2022-10-18T17:00:00Z
12  13  Gameweek 13  2022-10-22T10:00:00Z
13  14  Gameweek 14  2022-10-29T10:00:00Z
14  15  Gameweek 15  2022-11-05T13:30:00Z
15  16  Gameweek 16  2022-11-12T11:00:00Z
16  17  Gameweek 17  2022-12-26T11:00:00Z
17  18  Gameweek 18  2022-12-30T18:15:00Z
18  19  Gameweek 19  2023-01-02T16:00:00Z
19  20  Gameweek 20  2023-01-14T13:30:00Z
20  21  Gameweek 21  2023-01-21T13:30:00Z
21  22  Gameweek 22  2023-02-04T13:30:00Z
22  23  Gameweek 23  2023-02-11T13:30:00Z
23  24  Gameweek 24  2023-02-18T13:30:00Z
24  25  Gameweek 25  2023-02-25T13:30:00Z
25  26  Gameweek 26  2023-03-04T13:30:00Z
26  27  Gameweek 27  2023-03-11T13:30:00Z
27  28  Gameweek 28  2023-03-18T13:30:00Z
28  29  Gameweek 29  2023-04-01T12:30:00Z
29  30  Gameweek 30  2023-04-08T12:30:00Z
30  31  Gameweek 31  2023-04-15T12:30:00Z
31  32  Gameweek 32  2023-04-22T12:30:00Z
32  33  Gameweek 33  2023-04-25T17:15:00Z
33  34  Gameweek 34  2023-04-29T12:30:00Z
34  35  Gameweek 35  2023-05-06T12:30:00Z
35  36  Gameweek 36  2023-05-13T12:30:00Z
36  37  Gameweek 37  2023-05-20T12:30:00Z
37  38  Gameweek 38  2023-05-28T13:30:00Z

Getting all players data

In [8]:
players = pd.DataFrame(r['elements'])
print(players.columns)

Index(['chance_of_playing_next_round', 'chance_of_playing_this_round', 'code',
       'cost_change_event', 'cost_change_event_fall', 'cost_change_start',
       'cost_change_start_fall', 'dreamteam_count', 'element_type', 'ep_next',
       'ep_this', 'event_points', 'first_name', 'form', 'id', 'in_dreamteam',
       'news', 'news_added', 'now_cost', 'photo', 'points_per_game',
       'second_name', 'selected_by_percent', 'special', 'squad_number',
       'status', 'team', 'team_code', 'total_points', 'transfers_in',
       'transfers_in_event', 'transfers_out', 'transfers_out_event',
       'value_form', 'value_season', 'web_name', 'minutes', 'goals_scored',
       'assists', 'clean_sheets', 'goals_conceded', 'own_goals',
       'penalties_saved', 'penalties_missed', 'yellow_cards', 'red_cards',
       'saves', 'bonus', 'bps', 'influence', 'creativity', 'threat',
       'ict_index', 'influence_rank', 'influence_rank_type', 'creativity_rank',
       'creativity_rank_type', 'threat_rank', 'threat_rank_type',
       'ict_index_rank', 'ict_index_rank_type',
       'corners_and_indirect_freekicks_order',
       'corners_and_indirect_freekicks_text', 'direct_freekicks_order',
       'direct_freekicks_text', 'penalties_order', 'penalties_text',
       'now_cost_rank', 'now_cost_rank_type', 'form_rank', 'form_rank_type',
       'points_per_game_rank', 'points_per_game_rank_type', 'selected_rank',
       'selected_rank_type'],
      dtype='object')

In [9]:
#Getting the required columns
players_condensed = players[['id', 'web_name', 'team', 'element_type', 'now_cost', 'selected_by_percent', 'event_points', 'total_points']]
players_condensed.head(5)

,id,web_name,team,element_type,now_cost,selected_by_percent,event_points,total_points
0,1,Cédric,1,2,42,0.1,1,1
1,3,Xhaka,1,3,51,4.0,3,58
2,4,Elneny,1,3,42,0.6,0,2
3,5,Holding,1,2,42,0.1,0,3
4,6,Partey,1,3,48,0.5,9,37

In [10]:
elements_keys = pd.DataFrame(r['element_types'])
teams_keys = pd.DataFrame(r['teams'])

Map the team, element_type, position and join with myteam

In [11]:
players_condensed['position'] = players_condensed.element_type.map(elements_keys.set_index('id').singular_name)
players_condensed.head(5)

,id,web_name,team,element_type,now_cost,selected_by_percent,event_points,total_points,position
0,1,Cédric,1,2,42,0.1,1,1,Defender
1,3,Xhaka,1,3,51,4.0,3,58,Midfielder
2,4,Elneny,1,3,42,0.6,0,2,Midfielder
3,5,Holding,1,2,42,0.1,0,3,Defender
4,6,Partey,1,3,48,0.5,9,37,Midfielder

In [12]:
players_condensed['team_name'] = players_condensed.team.map(teams_keys.set_index('id').name)
players_condensed

,id,web_name,team,element_type,now_cost,selected_by_percent,event_points,total_points,position,team_name
0,1,Cédric,1,2,42,0.1,1,1,Defender,Arsenal
1,3,Xhaka,1,3,51,4.0,3,58,Midfielder,Arsenal
2,4,Elneny,1,3,42,0.6,0,2,Midfielder,Arsenal
3,5,Holding,1,2,42,0.1,0,3,Defender,Arsenal
4,6,Partey,1,3,48,0.5,9,37,Midfielder,Arsenal
...,...,...,...,...,...,...,...,...,...,...
651,579,Guedes,20,3,59,0.2,1,19,Midfielder,Wolves
652,589,Matheus,20,3,49,0.2,1,28,Midfielder,Wolves
653,608,Kalajdžić,20,4,53,0.0,0,1,Forward,Wolves
654,625,Diego Costa,20,4,55,0.5,-1,7,Forward,Wolves
655,629,Traoré,20,3,45,0.1,2,6,Midfielder,Wolves

In [13]:
players_condensed['now_cost'] = players_condensed['now_cost'] / 10
players_condensed

,id,web_name,team,element_type,now_cost,selected_by_percent,event_points,total_points,position,team_name
0,1,Cédric,1,2,4.2,0.1,1,1,Defender,Arsenal
1,3,Xhaka,1,3,5.1,4.0,3,58,Midfielder,Arsenal
2,4,Elneny,1,3,4.2,0.6,0,2,Midfielder,Arsenal
3,5,Holding,1,2,4.2,0.1,0,3,Defender,Arsenal
4,6,Partey,1,3,4.8,0.5,9,37,Midfielder,Arsenal
...,...,...,...,...,...,...,...,...,...,...
651,579,Guedes,20,3,5.9,0.2,1,19,Midfielder,Wolves
652,589,Matheus,20,3,4.9,0.2,1,28,Midfielder,Wolves
653,608,Kalajdžić,20,4,5.3,0.0,0,1,Forward,Wolves
654,625,Diego Costa,20,4,5.5,0.5,-1,7,Forward,Wolves
655,629,Traoré,20,3,4.5,0.1,2,6,Midfielder,Wolves

Joining myteam with players_condensed to map out my team with the keys

In [15]:
myteam_df = pd.merge(myteam, players_condensed, how="left", left_on= "element", right_on= 'id')
print(myteam_df)

In [16]:
myteam_df

,element,position_x,selling_price,multiplier,purchase_price,is_captain,is_vice_captain,id,web_name,team,element_type,now_cost,selected_by_percent,event_points,total_points,position_y,team_name
0,254,1,40,1,40,False,False,254,Ward,10,1,4.1,26.2,3,43,Goalkeeper,Leicester
1,306,2,72,1,70,False,False,306,Cancelo,13,2,7.4,56.3,6,71,Defender,Man City
2,106,3,46,1,46,False,False,106,Dunk,5,2,4.7,5.5,2,37,Defender,Brighton
3,357,4,54,1,51,False,False,357,Trippier,15,2,5.8,61.9,11,77,Defender,Newcastle
4,283,5,127,2,127,True,False,283,Salah,12,3,12.8,31.2,7,65,Midfielder,Liverpool
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10,356,11,73,1,73,False,False,356,Wilson,15,4,7.4,7.7,19,53,Forward,Newcastle
11,133,12,44,0,44,False,False,133,Arrizabalaga,6,1,4.5,3.6,0,29,Goalkeeper,Chelsea
12,346,13,45,0,45,False,False,346,Andreas,9,3,4.6,25.4,3,53,Midfielder,Fulham
13,430,14,52,0,52,False,False,430,Dier,18,2,5.3,11.0,1,48,Defender,Spurs
14,167,15,43,0,43,False,False,167,Guéhi,7,2,4.4,3.5,6,26,Defender,Crystal Palace

In [17]:
myteam_final = myteam_df[["id", "web_name", "position_y", "team_name", "is_captain", "now_cost", "selling_price", "selected_by_percent", "event_points", "total_points"]]
myteam_final.head()

,id,web_name,position_y,team_name,is_captain,now_cost,selling_price,selected_by_percent,event_points,total_points
0,254,Ward,Goalkeeper,Leicester,False,4.1,40,26.2,3,43
1,306,Cancelo,Defender,Man City,False,7.4,72,56.3,6,71
2,106,Dunk,Defender,Brighton,False,4.7,46,5.5,2,37
3,357,Trippier,Defender,Newcastle,False,5.8,54,61.9,11,77
4,283,Salah,Midfielder,Liverpool,True,12.8,127,31.2,7,65

In [18]:
myteam_final['selling_price'] = myteam_final['selling_price'] / 10
myteam_final.head()

,id,web_name,position_y,team_name,is_captain,now_cost,selling_price,selected_by_percent,event_points,total_points
0,254,Ward,Goalkeeper,Leicester,False,4.1,4.0,26.2,3,43
1,306,Cancelo,Defender,Man City,False,7.4,7.2,56.3,6,71
2,106,Dunk,Defender,Brighton,False,4.7,4.6,5.5,2,37
3,357,Trippier,Defender,Newcastle,False,5.8,5.4,61.9,11,77
4,283,Salah,Midfielder,Liverpool,True,12.8,12.7,31.2,7,65

Getting the top level GW by GW team information

In [19]:
# base url for all FPL API endpoints
base_url = 'https://fantasy.premierleague.com/api/'

# get data from bootstrap-static endpoint
r = requests.get(base_url+'entry/203128/history/').json()

# show the top level fields
pprint(r, indent=2, depth=1, compact=True)

{'chips': [...], 'current': [...], 'past': [...]}

In [20]:
team_info = pd.DataFrame(r['current'])
team_info

,event,points,total_points,rank,rank_sort,overall_rank,bank,value,event_transfers,event_transfers_cost,points_on_bench
0,1,78,78,386786,390723,386786,0,1000,0,0,13
1,2,82,160,349435,350255,38160,0,1002,0,0,12
2,3,44,204,6097470,6099681,180575,0,1009,0,0,17
3,4,88,292,513208,513520,29217,5,1012,1,0,6
4,5,86,378,516792,519499,10752,5,1014,1,0,9
...,...,...,...,...,...,...,...,...,...,...,...
9,10,71,647,1871684,1875178,11335,2,1017,1,0,4
10,11,42,689,6756414,6758580,23254,10,1015,0,0,19
11,12,41,730,5009896,5011070,45454,0,1019,1,0,9
12,13,50,780,6131494,6133610,79395,0,1021,0,0,26
13,14,86,866,297749,298002,22184,10,1023,2,0,11

Cleaning the team_info data frame to export the proper values

In [21]:
team_info['value'] = team_info['value'] / 10
team_info

,event,points,total_points,rank,rank_sort,overall_rank,bank,value,event_transfers,event_transfers_cost,points_on_bench
0,1,78,78,386786,390723,386786,0,100.0,0,0,13
1,2,82,160,349435,350255,38160,0,100.2,0,0,12
2,3,44,204,6097470,6099681,180575,0,100.9,0,0,17
3,4,88,292,513208,513520,29217,5,101.2,1,0,6
4,5,86,378,516792,519499,10752,5,101.4,1,0,9
...,...,...,...,...,...,...,...,...,...,...,...
9,10,71,647,1871684,1875178,11335,2,101.7,1,0,4
10,11,42,689,6756414,6758580,23254,10,101.5,0,0,19
11,12,41,730,5009896,5011070,45454,0,101.9,1,0,9
12,13,50,780,6131494,6133610,79395,0,102.1,0,0,26
13,14,86,866,297749,298002,22184,10,102.3,2,0,11

Export all data to csv

In [22]:
filepath = os.getcwd()
filepath

'/Users/trajche/Desktop/python/FPL_Data_Pull'

In [23]:
gameweeks.to_csv(filepath + '/gameweeks.csv', index = False)

In [24]:
team_info.to_csv(filepath + '/myteam_history.csv', index = False)

In [25]:
myteam_final.to_csv(filepath + '/myteam.csv', index = False)

In [26]:
players_condensed.to_csv(filepath + '/all_players.csv', index = False)